
body {
    font-family: monospace;
    background-size: cover;
    padding-top:2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#App{
    background-image: url(background.jpg);
    background-size: cover;
    padding:2em;
    padding-top: 5em;
    border-radius: 25px;
}

h2 {
    margin: 0;
}

#words {
    max-width: 280px;
    display: block;
    height: fit-content;
}

.words {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: xx-large;
    background: rgba(60, 60, 60, 0.6);
    border-radius: 16px;
    padding: 4px;
    color: whitesmoke;
    font-weight: bolder;
    max-width: 300px;
    height: 40px;
}

.word {
    margin-top: 8px;
}

button {
    font-size: large;
    font-weight: 900;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 4px;
    background: rgba(21, 87, 92, 0.2);
    color: whitesmoke;
}

button:hover {
    cursor: pointer;
}

#hangmanPic {
    width: 300px;
    height: 450px;
    position: relative;
    float: left;
}

.hangmanpic {
    display: none;
}

#categoryMenu {
    display: flex;
    flex-direction: column;
    position: static;
    background: rgba(60, 25, 60, 0.2);;
    padding: 15px;
    max-width: 280px;
    border-radius: 4px;
    color: ghostwhite;
}

.questions {
    font-size: large;
    margin-top: 8px;
}

#leftLeg {
    background-color: rgba(58, 24, -1,0.9);
    width: 54px;
    height: 8px;
    transform: rotate(-60deg);
    position: absolute;
    left: 13px;
    top: 281px;
}

#rightLeg {
    background-color: rgba(58, 24, -1,0.9);
    width: 54px;
    height: 8px;
    transform: rotate(60deg);
    position: absolute;
    left: 41px;
    top: 281px;
}

#bodyLine {
    background-color: rgba(58, 24, -1,0.9);
    width: 100px;
    height: 8px;
    transform: rotate(90deg);
    position: absolute;
    left: 4px;
    top: 209px;
}

#head {
    background: rgba(58, 24, -1,0.9);
    border-radius: 50%;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 89px;
    left: 15px;
}

#leftHand {
    background-color: rgba(58, 24, -1,0.9);
    width: 60px;
    height: 8px;
    transform: rotate(-145deg);
    position: absolute;
    left: 1px;
    top: 200px;
}

#rightHand {
    background-color: rgba(58, 24, -1,0.9);
    width: 60px;
    height: 8px;
    transform: rotate(145deg);
    position: absolute;
    top: 200px;
    left: 48px;
}

#firstLine {
    background-color: rgba(58, 24, -1,0.9);
    width: 60px;
    height: 8px;
    transform: rotate(90deg);
    position: absolute;
    top: 64px;
    left: 22px;
}

#secondLine {
    background-color: rgba(58, 24, -1,0.9);
    width: 130px;
    height: 8px;
    transform: rotate(180deg);
    position: absolute;
    top: 31px;
    left: 48px;
}

#thirdLine {
    background-color: rgba(58, 24, -1,0.9);
    width: 201px;
    height: 7px;
    transform: rotate(90deg);
    position: absolute;
    left: 77px;
    top: 128px;
}

#ground {
    left: 123px;
    top: 229px;
    background: rgba(58, 24, -1,0.9);
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 20px;
}

@media screen and (min-width: 576px) {
    .container {
        display: flex;
        max-width: fit-content;
        padding: 2em;
        border-radius: 15px;
    }


}

@media screen and(min-width: 768px) {
    .cointainer {
        display: flex;
    }
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    width: fit-content;
    display: none;
    border-radius: 15px;
    max-height: 50px;
    margin-right: 1em;
    position: absolute;
    top: 20px;
}

.closebtn {
    float: right;
    margin-left: 2em;
    margin-top: -5px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

